asgiref
Django
pytz
sqlparse
boto3
boto
botocore
certifi
cfe==0.0.15
chardet
dj-database-url
django-storages
django
docutils
gitdb2
gitpython
gunicorn
idna
jmespath
olefile
pillow
pip
psycopg2
python-dateutil
pytz
requests
s3transfer
setuptools
six
smmap2
stripe
urllib3
wheel